<!DOCTYPE html>
<html>
<head>
	<title>Lab-Admin</title>
	{% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'user_home.css' %}" /></head>
<body>
	<div class="jumbotron" style="background-color:#96d4d4;">
		<center>
			<h1>Laboratory management System</h1>
		</center>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div id="bar" style="display: flex;">
				<div class="col-md-4 center-div">
					<a href="/getBills/"><button class="btn btn-info" style="width:100%;height:100%;">Bills</button></a>
				</div>
				<div class="col-md-4 center-div">
					<a href="/pathologistInfo/"><button class="btn btn-info" style="width:100%;height:100%;">Pathologists</button></a>
				</div>
				<div class="col-md-4 center-div">
					<a href="/getPatients/"><button class="btn btn-info" style="width:100%;height:100%;">Patients</button></a>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-top:20px; background-color:#c1f6f6;">
			<div class="col-md-12 center-div">
				<h3>Welcome to Laboratory management</h3>
			</div>
		</div>
		
		<div class="row center-div" style="margin-top:20px;">
				<img src ="{% static 'bg.png' %}"  style="width:300px;" alt="laboratry management system">
		</div>
		
		<div class="row center-div" style="margin-top:20px;">
			<div class="col-md-3 center-div">
				<a href="/login/"><button class="btn btn-primary" style="width:100%;height:100%;">Log In</button></a>
			</div>
		</div>
		<div class="row center-div" style="margin-top:20px;margin-bottom:20px;">
			<div class="col-md-3 center-div">
				<a href="/login/signup/"><button class="btn btn-primary" style="width:100%;height:100%;">Sign Up</button></a>
			</div>
		</div>
	</div>

</body>
</html>